
/* Format the sidebar of the application */
.sidenav {
	height: 100%;     /* Make sidebar entire height of viewport */
	width: 3em;       /* Set the width of the sidebar */
	position: fixed;  /* The sidebar does not move */
	z-index: 1;       /* The sidebar appears in front of all other objects */
	top: 0;           /* Index at top of viewport */
	left: 0;          /* Index at left of viewport */
	background-color: #333;
	/*overflow-x: hidden;*/
	/*padding-top: 3em;*/
	/*padding-left: 1em;*/
}

.sidenav a {
	display: block;
	margin-top: 1.5em;
	color: #ffffff;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	transition: all 0s ease-in-out;
	opacity: 0.5;
}

#editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 4em;
}

.sidenav a:hover {
	opacity: 1;
}



.main {
	margin-left: 3em;
	/*padding: 0px, 10px;*/
}