
/* Format the sidebar of the application */
.sidenav {
	height: 100%;
	width: 5em;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #444;
	overflow-x: hidden;
	padding-top: 3em;
	padding-left: 1em;
}

.sidenav ul {
	list-style: none;
}

.sidenav ul > li {
	display: inline-block;
	margin: 2em 0 2em 0;
}

.sidenav a {
	padding: 6px, 8px, 6px, 16px;
	text-decoration: none;
	font-size: 1em;
	color: #818181;
	display: block;
}

.sidenav .icons a {
	color: #ffffff;
	font-size: 2em;
	text-decoration: none;
	transition: opacity 0s ease-in-out;
	opacity: 0.35;
}

.sidenav .icons a:hover {
	opacity: 1;
}



.main {
	margin-left: 6em;
	/*padding: 0px, 10px;*/
}